# Global Setup

In [5]:
from pipedriveConnector import getCS
from pipedriveConnector import getSumCS
from pipedriveConnector import csKpiTotal, getCS, getSumCS,mChurns,getUsers
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from plotly import graph_objects as go
import plotly.express as px
from IPython.core.display import HTML
import os

# Pipedrive Activities

In [6]:
pd.set_option('display.max_rows', 200)
start_date = '2022-01-30'
end_date = '2022-02-23'

## Pipedrive Activities: Marcus

In [7]:
marcusDf = getSumCS('Marcus', start_date, end_date)

In [8]:
figMarcus = csKpiTotal(marcusDf, 25,7,2,2)

## Pipedrive Activities: Jack

In [11]:
jackDf = getSumCS('Jack', start_date, end_date)

In [12]:
figJack = csKpiTotal(jackDf, 25,7,2,2)

## CS - Total Activities

In [14]:
sum_df = marcusDf.iloc[:].set_index('date')
sum_df = sum_df.add(jackDf.iloc[:].set_index('date'), fill_value=0)
sum_df


for x in range(6):
    sum_df.iloc[:,6+x] = 0
    sum_df.iloc[:,6+x] = sum_df.iloc[:,x].cumsum()

sum_df = sum_df.reset_index()

In [15]:
marcus = {'cs':'Marcus'}
jack = {'cs':'Jack'}

for x in range(8,12):
    marcus[marcusDf.iloc[1:1,x].name] = marcusDf.iloc[-1:,x].values[0]
    jack[jackDf.iloc[1:1,x].name] = jackDf.iloc[-1:,x].values[0]

output = pd.DataFrame()
output = output.append(marcus, ignore_index=True)

In [16]:
def csGesamt(): 
    display(HTML('<h3 style="color:#9da600;">Summary</h3>'))
    display(output)
    display(HTML('<h3 style="color:#9da600;">Details</h3>'))
    display(sum_df)

In [17]:
totalFig = csKpiTotal(sum_df, 75,30,6,6)

# CS Total

In [ ]:
csGesamt()

# Marcus

In [20]:
marcusDf

,date,done,sc_anruf,user_training,meeting,mapping,task,nicht_erreicht,a_sc_anruf,a_training,a_meeting,a_mapping,a_task,a_nicht_erreicht
0,30/01/2022,1,0,0,0,0,0,0,0,0,0,0,0,0
1,31/01/2022,5,3,0,1,0,0,0,3,0,1,0,0,0
2,01/02/2022,34,4,0,4,0,0,0,7,0,5,0,0,0
3,02/02/2022,11,4,0,1,0,0,0,11,0,6,0,0,0
4,03/02/2022,10,4,0,1,0,0,0,15,0,7,0,0,0
5,04/02/2022,12,2,0,3,0,0,1,17,0,10,0,0,1
6,06/02/2022,1,0,0,0,0,0,0,17,0,10,0,0,1
7,07/02/2022,3,0,0,0,0,0,0,17,0,10,0,0,1

In [21]:
figMarcus.show()

# Jack

In [ ]:
jackDf

In [25]:
# figJack.show()

# Overall statistics

In [26]:
pd.options.display.max_rows = 999

In [27]:
marcusDf['csmanager'] = 'Marcus'

cols = list(marcusDf.columns)
cols = [cols[-1]] + cols[:-1]
newmarcusDf = marcusDf[cols].set_index('date')

newmarcusDf.iloc[:,:8]

,csmanager,done,sc_anruf,user_training,meeting,mapping,task,nicht_erreicht
date,,,,,,,,
30/01/2022,Marcus,1,0,0,0,0,0,0
31/01/2022,Marcus,5,3,0,1,0,0,0
01/02/2022,Marcus,34,4,0,4,0,0,0
02/02/2022,Marcus,11,4,0,1,0,0,0
03/02/2022,Marcus,10,4,0,1,0,0,0
04/02/2022,Marcus,12,2,0,3,0,0,1
06/02/2022,Marcus,1,0,0,0,0,0,0
07/02/2022,Marcus,3,0,0,0,0,0,0

In [ ]:

jackDf['csmanager'] = 'Jack'

cols = list(marcusDf.columns)
cols = [cols[-1]] + cols[:-1]
newjackDf = jackDf[cols].set_index('date')

newjackDf.iloc[:,:8]